/* GENERAL STYLE*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: grey;
}



/* UTILITIES */


.container{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}


/* HEADER*/

/*logo*/
a img{
    width: 140px;
    border-right: 1px solid lightgrey;
    padding-right: 20px;
}

/*nav*/
nav .menu{
    margin-top: 20px;
}

.menu li{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
}

.menu li a{
    text-decoration: none;
    color:grey;
}
li:hover{
    text-decoration: underline;
}

/*MAIN*/

/*heading*/
.hero{
    height:400px ;
    margin-top: 18px;
    background-image:url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    border-radius: 10px;
    
}

.head{
    position: relative;
}
.title{
    width: 400px;
    position: absolute;
    left:30px;
    bottom:50px;
    color:whitesmoke;
}


.head .title h1{
    font-weight: normal;
    font-size: 20px;
}


/*center*/

.leadership{
    margin-bottom: 2%;
}

 h2,
 h4{
    color: black;
}

h2{
    font-size: 20px;
}

.special{
    padding-bottom:1%;
    margin-top: 20px;
}


.aside-left, .aside-right{
    width:19%;
    height: 400px;
    float: left;

}

.center{
    width:60%;
    height: 400px;
    float: left;
}


.aside-left{
    margin-right:1%;
}

.aside-right{
   margin-left:1%;
}


.aside-left .image{
    width: 100%;
    height:150px;
    background-image: url("../img/img-1.jpg");
    background-size: contain;
    background-position: center;
    filter: brightness(80%);
    border-radius: 10px;
}

.center .image{
    width: 100%;
    height:150px;
    background-image: url("../img/img-2.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    border-radius: 10px;

}


.aside-right .image{
    width: 100%;
    height:150px;
    background-image: url("../img/img-3.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
    border-radius: 10px;

}


h4,
p{
    padding-top:10px;
}



/*FOOTER*/


footer .writeby{
    text-align: center;
    color:black;
    padding:15px;
    
}

.heart{
    color:red;
    margin-left: 5px;
}